@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --app-name: "Dart Scorekeeper";

  --color-app-bg: #020617;
  --color-panel: #0f172a;
  --color-panel-soft: #1e293b;
  --color-panel-border: #334155;

  --color-text-main: #ffffff;
  --color-text-muted: #cbd5e1;

  --color-primary: #2563eb;
  --color-primary-hover: #3b82f6;

  --color-success: #16a34a;
  --color-success-hover: #22c55e;

  --color-warning: #d97706;
  --color-warning-hover: #f59e0b;

  --color-danger: #dc2626;
  --color-danger-hover: #ef4444;

  --color-accent: #9333ea;
  --color-accent-hover: #a855f7;
}

.theme-firehall {
  --app-name: "Firehall Darts";

  --color-app-bg: #120407;
  --color-panel: #1f0a0d;
  --color-panel-soft: #321115;
  --color-panel-border: #7f1d1d;

  --color-primary: #b91c1c;
  --color-primary-hover: #dc2626;

  --color-success: #15803d;
  --color-success-hover: #16a34a;

  --color-warning: #d97706;
  --color-warning-hover: #f59e0b;

  --color-accent: #facc15;
  --color-accent-hover: #fde047;
}
